@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body,
html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  background: #1a202c !important;
  color: rgba(255, 255, 255, 0.92);
}

h1 {
  color: rgba(255, 255, 255, 0.92);
}

.App {
  text-align: center;
  padding: 5rem;
}

.align-items-center {
  display: flex;
  justify-content: center;
}
